*{
  font-family: 'ReithSans';
}
.App {
  margin: 10px 0px;
  padding: 0PX;
  box-sizing: border-box;
  padding: 0px 1rem;
}
@font-face {
  font-family: "ReithSans";
  src: local("ReithSans"),
    url("./9038-BBCReithSans_Rg.e3c4ef29 2.ttf") format("truetype");
  font-weight: normal;
}
.h1{
  color: red;
}
.h1{
  border-bottom: 0px solid black ;
  border-top-left-radius: 20px;
}